:root {
	--gray-100: #eaecef;
	--gray-200: #e1e4e8;
	--gray-300: #6a737d;
	--gray-400: #586069;
	--gray-500: #444d56;
	--gray-600: #24292e;
	--gray-light-m: #ffffffb3;
	--gray-dark-m: #ffffff26;
	--white: #fff;
	--blue: #0366d6;
	--green-100: #2a8f47;
	--green-200: #2c974b;
	--green-300: #2ea44f;
	--border-black: rgba(27, 31, 35, 0.15);
}

@keyframes dropdown-animation {
	0% {
		opacity: 0;
		transform: translateY(-1rem);
	}
}

a {
	color: var(--blue);
	cursor: pointer;
}

/* Header */
.header-item {
	align-items: center;
	flex-wrap: nowrap;
	display: flex;
	margin-right: 1rem;
	align-self: stretch;
}

.header-link {
	font-weight: 600;
	color: var(--white);
	white-space: nowrap;
}

.header-link:focus,
.header-link:hover {
	color: var(--gray-light-m);
	text-decoration: none;
}

svg {
	fill: currentColor;
}

.header-search {
	transition: 0.2s ease-in-out;
	transition-property: max-width, padding-bottom, padding-top;
}

.header-nav-container nav .header-link {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-top: 1px solid var(--gray-200);
	border-color: var(--gray-dark-m);
}

.user-avatar {
	border-radius: 50%;
	line-height: 1;
	vertical-align: middle;
	overflow: hidden;
	box-shadow: 0 0 0 1px transparent;
}

.header-nav-container .logout .header-link {
	padding-left: 2px;
}

.header-search-wrapper {
	min-height: 1.75rem;
	border: 1px solid var(--gray-500);
	background-repeat: no-repeat;
	background-position: right 0.5rem center;
	outline: none;
}

.header-search-wrapper:focus-within {
	background-color: var(--white);
}

.header-search-input {
	min-height: 1.75rem;
	min-width: 90%;
	color: inherit;
	outline: none;
}

.header-notifications .header-link span {
	top: -0.375rem;
	left: 0.375rem;
	z-index: 2;
	min-width: 0.875rem;
	max-width: 0.875rem;
	min-height: 0.875rem;
	max-height: 0.875rem;
	background-image: linear-gradient(#54a3ff, #006eed);
	background-clip: padding-box;
	border: 2px solid var(--gray-600);
}

details > summary {
	list-style: none;
	cursor: pointer;
	display: list-item;
}

.header-item details > .header-details-menu {
	right: 0;
	left: auto;
	position: absolute;
	top: 100%;
	z-index: 100;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	margin-top: 2px;
	list-style: none;
	background-clip: padding-box;
	border: 1px solid var(--gray-200);
	border-radius: 0.375rem;
	box-shadow: 0 0.5rem 1.5rem rgba(149, 157, 165, 0.2);
}

.header-item details > .header-details-menu:before {
	top: -1rem;
	right: 9px;
	left: auto;
	border: 0.5rem solid transparent;
	border-bottom: 0.5rem solid var(--gray-200);
	position: absolute;
	display: inline-block;
	content: '';
}

.header-item details > .header-details-menu:after {
	top: -0.875rem;
	right: 0.675rem;
	left: auto;
	border: 7px solid transparent;
	border-bottom: 7px solid var(--gray-200);
	position: absolute;
	display: inline-block;
	content: '';
}

details > summary::-webkit-details-marker {
	display: none;
}

.header-item details:not([open]) > .header-details-menu {
	display: none;
}

.header-create-new-container details > .header-details-menu {
	min-width: 10rem;
	max-width: 10rem;
}

.dropdown-caret {
	display: inline-block;
	max-width: 0;
	max-height: 0;
	min-width: 0;
	min-height: 0;
	vertical-align: middle;
	content: '';
	border-color: inherit;
	border-top-style: solid;
	border-top-width: 0.25rem;
	border-right: 0.25rem solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 0.25rem solid transparent;
}

.header-profile-container details > .header-details-menu {
	min-width: 11.25rem;
	max-width: 11.25rem;
}

.header-details-menu .menu-divider {
	display: block;
	min-height: 0;
	max-height: 0;
	margin: 0.5rem 0;
	border-top: 1px solid var(--gray-200);
}

.user-status-container {
	word-break: break-word;
	word-wrap: break-word;
}

.user-status-container > .header-user-status-container {
	border: 1px solid var(--gray-200);
}

.user-status-container summary {
	text-align: center;
	color: var(--gray-400);
}

/* Pages tab */
.page-tabs {
	z-index: 3;
	top: 0;
	border-bottom: 1px solid var(--gray-200);
	border-color: var(--gray-100);
}

.all-tabs-container-item {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: 1.5rem;
	flex-shrink: 0;
	min-width: 100%;
	max-width: 100%;
}

.sticky-user-profile {
	top: 0;
	z-index: 90;
	width: 233px;
	transition: 0.2s;
}

.sticky-user-profile.is-intersecting {
	opacity: 1;
	pointer-events: auto;
}

.sticky-user-profile .user-profile-mini-card {
	top: 1px;
	z-index: 110;
}

.page-tabs-link {
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	line-height: 1.875rem;
	text-align: center;
	white-space: nowrap;
	background-color: initial;
	color: var(--gray-600);
	border: 0;
	border-bottom: 2px solid transparent;
	transition: border-bottom-color 0.36s ease-in;
}

.page-tabs-link:focus,
.page-tabs-link:hover {
	color: var(--gray-600);
	text-decoration: none;
	border-bottom-color: #d1d5da;
	outline: 1px dotted transparent;
	outline-offset: -1px;
	transition-timing-function: ease-out;
	transition-duration: 0.12s;
}

.page-tabs-link.selected {
	font-weight: 600;
	color: var(--gray-600);
	border-bottom-color: #f9826c;
	outline: 1px dotted transparent;
	outline-offset: -1px;
}

.page-tabs-link svg {
	color: #959da5;
}

.page-tabs-link.selected svg {
	color: inherit;
}

.page-tab-count {
	padding-left: 0.375rem;
	padding-right: 0.375rem;
	line-height: 1.125rem;
	background-color: rgba(209, 213, 218, 0.5);
	border: 1px solid transparent;
	border-radius: 2em;
}

/* Pages content */
.content-container-item {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: 1.5rem;
	flex-shrink: 0;
	min-width: 100%;
	max-width: 100%;
}

.content-container-item:nth-child(1) > div > .user-status-container > div {
	border-radius: 0.375rem;
	border: 1px solid var(--gray-200);
}

.content-avatar-container {
	width: 16.666667%;
	z-index: 4;
}

.content-avatar-container .user-avatar {
	border: 1px solid var(--gray-200);
}

.user-status-circle-badge-container {
	bottom: 0;
	left: 100%;
	z-index: 2;
	width: 38px;
	height: 38px;
}

.user-status-circle-badge-container:hover {
	width: auto;
	max-width: 34rem;
}

.user-status-circle-badge-container:hover .user-status-circle-badge {
	box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
}

.user-status-circle-badge-container:hover .content-user-status-emoji-container {
	margin-right: 0.5rem;
}

.user-status-circle-badge-container:hover .user-status-message-wrapper {
	width: 100%;
	opacity: 1;
}

.user-status-circle-badge {
	background-color: var(--white);
	border: 1px solid var(--gray-200);
	border-radius: 2em;
	box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
}

.user-status-circle-badge summary:hover * {
	color: var(--blue);
}

.user-status-message-wrapper {
	transition: 0.1s ease;
}

.content-user-name-container {
	top: 0;
	left: 7rem;
	width: 17.5rem;
	float: left;
}

.content-user-name-container.is-intersecting {
	opacity: 0;
}

.content-user-name-container > h1 > span:first-child {
	font-size: 1.675rem;
	font-weight: 600;
}

.content-user-edit-profile-form input {
	min-height: 1.75rem;
	padding-top: 3px;
	padding-bottom: 3px;
}

.content-user-edit-profile-form input,
.content-user-edit-profile-form textarea,
.content-user-action-bar input {
	padding-top: 5px;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	background-position: right 0.5rem center;
	border: 1px solid var(--gray-200);
	border-radius: 0.375rem;
	outline: none;
	box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}

.content-user-edit-profile-form input:hover,
.content-user-edit-profile-form textarea:hover,
.content-user-action-bar input:hover {
	border-color: var(--blue);
	outline: none;
	box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.content-user-edit-profile-form > div:not(:first-child) {
	color: var(--gray-300);
}

.user-edit-profile-form-buttons .btn {
	padding-top: 3px;
	padding-bottom: 3px;
}

.user-edit-profile-form-buttons .btn[type='button'] {
	border-color: var(--border-black);
	box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
		inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
}

.content-user-edit-profile-preview svg {
	color: var(--gray-300);
}

.content-user-edit-profile-preview-item {
	padding-left: 1.375rem;
	display: none;
	min-width: 100%;
	max-width: 100%;
	vertical-align: top;
	font-size: 0.875rem;
	padding-top: 0.25rem;
}

.content-user-edit-profile-preview-item:nth-child(3) {
	display: inline-block;
}

.content-user-edit-profile-preview-item > svg {
	margin-left: -1.375rem;
	float: left;
	width: 1rem;
	margin-top: 3px;
	text-align: center;
	color: var(--gray-300);
}

.content-user-organizations a {
	margin-bottom: 3px;
}

.content-user-organizations a img {
	border-radius: 0.375rem;
	box-shadow: 0 0 0 1px transparent;
}

.content-user-profile-nav {
	z-index: 3;
	border-bottom: 1px solid #d1d5da;
	top: 0;
}

.content-user-action-bar,
.content-repository-item {
	border-bottom: 1px solid var(--gray-200);
	border-color: var(--gray-100);
}

.content-user-action-bar .content-details-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: flex;
	padding: 1rem;
	pointer-events: none;
	flex-direction: column;
}

.content-user-action-bar details:not([open]) > .content-details-menu {
	display: none;
}

.content-user-action-bar .content-details-menu:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	content: '';
	background-color: rgba(27, 31, 35, 0.5);
}

.content-details-menu-modal {
	position: relative;
	z-index: 99;
	display: flex;
	max-height: 66%;
	margin: auto 0;
	overflow: hidden;
	pointer-events: auto;
	flex-direction: column;
	background-color: white;
	border: 1px solid transparent;
	border-radius: 0.75rem;
	box-shadow: 0 0 1.125rem rgba(27, 31, 35, 0.4);
	animation: dropdown-animation 0.12s cubic-bezier(0, 0.1, 0.1, 1) backwards;
}

.content-details-menu-modal header {
	display: flex;
	padding: 1rem;
	flex: none;
	align-items: center;
	border-bottom: 1px solid var(--gray-100);
}

.content-details-menu-item {
	text-align: left;
	cursor: pointer;
	border: 0;
	border-bottom: 1px solid var(--gray-100);
	display: flex;
	align-items: center;
	max-width: 100%;
	min-width: 100%;
	padding: 1rem;
	overflow: hidden;
	color: var(--gray-600);
	background-color: var(--white);
}

.content-details-menu-item[aria-checked='true'] {
	font-weight: 500;
}

.content-details-menu-item svg {
	visibility: hidden;
	transition: transform 0.12s cubic-bezier(0.5, 0.1, 1, 0.5),
		visibility 0s linear 0.12s;
	transform: scale(0);
	width: 1rem;
	margin-right: 0.5rem;
	flex-shrink: 0;
}

.content-details-menu-item[aria-checked='true'] svg {
	visibility: visible;
	transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1), visibility 0s linear;
	transform: scale(1);
}

.content-details-menu-item:active {
	background-color: #fafbfc;
}

.content-details-menu-item:hover {
	background-color: #f6f8fa;
}

.content-repository-item > div:first-child {
	width: 83.33333%;
}

.content-repository-item > div:last-child {
	width: 16.66667%;
}

.content-repository-item svg {
	color: var(--gray-300);
}

.repo-language-color {
	position: relative;
	top: 1px;
	display: inline-block;
	max-width: 0.75rem;
	min-width: 0.75rem;
	min-height: 0.75rem;
	max-height: 0.75rem;
	border: 1px solid rgba(27, 31, 35, 0.1);
	border-radius: 50%;
}

/* Footer */
footer > div:first-child {
	flex-direction: row-reverse;
	border-top: 1px solid var(--gray-200);
	border-color: var(--gray-100);
}

footer > div:first-child svg {
	color: #d1d5da;
}

footer > div:first-child a {
	color: var(--blue);
}

/* Utilities */
.btn {
	transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	transition-property: color, background-color, border-color;
	color: var(--gray-600);
	background-color: #fafbfc;
	box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
		inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
	position: relative;
	display: inline-block;
	font-weight: 500;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid;
	border-radius: 0.375rem;
	border-color: var(--border-black);
	appearance: none;
	padding: 5px 1rem;
}

.btn:active {
	background-color: #edeff2;
	box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
	transition: none;
}

.btn:focus {
	border-color: var(--border-black);
}

.btn:hover {
	background-color: #f3f4f6;
	border-color: var(--border-black);
	transition-duration: 0.1s;
	text-decoration: none;
}

.btn.bg-green:active {
	background-color: var(--green-100);
	box-shadow: inset 0 1px 0 rgba(20, 70, 32, 0.2);
}

.btn.bg-green:focus {
	background-color: var(--green-300);
	border-color: var(--border-black);
}

.btn.bg-green:hover {
	background-color: var(--green-200);
	border-color: var(--border-black);
}

.btn-link {
	display: inline-block;
	padding: 0;
	font-size: inherit;
	color: var(--blue);
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	background-color: initial;
	border: 0;
	appearance: none;
}

.btn-link:hover {
	text-decoration: underline;
}

.dropdown-item {
	display: block;
	padding: 0.25rem 0.5rem 0.25rem 1rem;
	overflow: hidden;
	color: var(--gray-600);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: var(--white);
	text-decoration: none;
	background-color: var(--blue);
	outline: none;
}

.relative {
	position: relative;
}

.sticky {
	position: sticky;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.static {
	position: static;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

.hidden {
	display: none;
}

.flex-1 {
	flex: 1 1 0%;
}

.flex-auto {
	flex: 1 1 auto;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-col {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.items-stretch {
	align-items: stretch;
}

.items-center {
	align-items: center;
}

.self-stretch {
	align-self: stretch;
}

.whitespace-normal {
	white-space: normal;
}

.whitespace-nowrap {
	white-space: nowrap;
}

.p-0 {
	padding: 0;
}

.p-2 {
	padding: 0.5rem;
}

.p-4 {
	padding: 1rem;
}

.pt-0 {
	padding-top: 0;
}

.pt-1 {
	padding-top: 0.25rem;
}

.pt-4 {
	padding-top: 1rem;
}

.pt-10 {
	padding-top: 2.5rem;
}

.pb-0 {
	padding-bottom: 0;
}

.pb-1 {
	padding-bottom: 0.25rem;
}

.pb-2 {
	padding-bottom: 0.5rem;
}

.pb-10 {
	padding-bottom: 2.5rem;
}

.pr-2 {
	padding-right: 0.5rem;
}

.pr-6 {
	padding-right: 1.5rem;
}

.pl-2 {
	padding-left: 0.5rem;
}

.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.ml-0 {
	margin-left: 0;
}

.ml-1 {
	margin-left: 0.25rem;
}

.ml-2 {
	margin-left: 0.5rem;
}

.ml-4 {
	margin-left: 1rem;
}

.mr-0 {
	margin-right: 0;
}

.mr-1 {
	margin-right: 0.25rem;
}

.mr-2 {
	margin-right: 0.5rem;
}

.mr-4 {
	margin-right: 1rem;
}

.mt-1 {
	margin-top: 0.25rem;
}

.mt-2 {
	margin-top: 0.5rem;
}

.mt-4 {
	margin-top: 1rem;
}

.mt-6 {
	margin-top: 1.5rem;
}

.mt-10 {
	margin-top: 2.5rem;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.mb-4 {
	margin-bottom: 1rem;
}

.mb-6 {
	margin-bottom: 1.5rem;
}

.mb-8 {
	margin-bottom: 2rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.-my-1 {
	margin-top: -0.25rem;
	margin-bottom: -0.25rem;
}

.-mx-2 {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

.-mx-4 {
	margin-left: -1rem;
	margin-right: -1rem;
}

.-mt-1 {
	margin-top: -0.25rem;
}

.-mb-2 {
	margin-bottom: -0.5rem;
}

.-ml-10 {
	margin-left: -2.5rem;
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.text-size-inherit {
	font-size: inherit;
}

.text-xs {
	font-size: 0.75rem;
}

.text-sm {
	font-size: 0.875rem;
}

.text-base {
	font-size: 1rem;
}

.text-xl {
	font-size: 1.25rem;
}

.not-italic {
	font-style: normal;
}

.font-light {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-medium {
	font-weight: 500;
}

.font-semibold {
	font-weight: 600;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.no-underline {
	text-decoration: none;
}

.pointer-events-none {
	pointer-events: none;
}

.bg-white {
	background-color: var(--white);
}

.bg-gray {
	background-color: var(--gray-600);
}

.bg-none {
	background: none;
}

.bg-green {
	background-color: var(--green-300);
}

.text-white {
	color: var(--white);
}

.text-gray-600 {
	color: var(--gray-600);
}

.text-gray-500 {
	color: var(--gray-500);
}

.text-gray-400 {
	color: var(--gray-400);
}

.text-gray-light-m {
	color: var(--gray-light-m);
}

.text-blue {
	color: var(--blue);
}

.leading-none {
	line-height: 1;
}

.leading-5 {
	line-height: 1.25rem;
}

.leading-6 {
	line-height: 1.5rem;
}

.leading-tight {
	line-height: 1.25;
}

.leading-normal {
	line-height: 1.5;
}

.z-30 {
	z-index: 30;
}

.align-top {
	vertical-align: top;
}

.align-middle {
	vertical-align: middle;
}

.align-bottom {
	vertical-align: bottom;
}

.align-text-top {
	vertical-align: text-top;
}

.align-text-bottom {
	vertical-align: text-bottom;
}

.w-0 {
	width: 0;
}

.w-3-4 {
	width: 75%;
}

.w-5 {
	width: 1.25rem;
}

.w-8 {
	width: 2rem;
}

.w-full {
	width: 100%;
}

.min-w-0 {
	min-width: 0;
}

.min-w-full {
	min-width: 100%;
}

.max-w-full {
	max-width: 100%;
}

.h-auto {
	height: auto;
}

.h-5 {
	height: 1.25rem;
}

.h-12 {
	height: 3rem;
}

.h-full {
	height: 100%;
}

.shadow-none {
	box-shadow: none;
}

.rounded-md {
	border-radius: 0.375rem;
}

.rounded-full {
	border-radius: 50%;
}

.border-none {
	border: 0;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-auto {
	overflow-x: auto;
}

.overflow-y-hidden {
	overflow-y: hidden;
}

.opacity-0 {
	opacity: 0;
}

.opacity-75 {
	opacity: 0.75;
}

.ellipsis {
	text-overflow: ellipsis;
}

.break-all {
	word-break: break-all;
}

.list-none {
	list-style-type: none;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.clearfix::after {
	clear: both;
}

.clearfix::after,
.clearfix::before {
	content: '';
	display: table;
}

.container {
	max-width: 1280px;
}

@media screen and (min-width: 543px) {
	.content-avatar-container .user-status-container {
		display: block;
	}

	.content-user-edit-profile-preview-item {
		display: inline-block;
	}

	.content-user-organizations {
		display: block;
		border-top: 1px solid var(--gray-200);
		border-color: var(--gray-100);
	}

	.content-user-action-bar .content-details-menu {
		position: absolute;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		padding: 0;
	}

	.content-user-action-bar .content-details-menu:before {
		display: none;
	}

	.content-details-menu-modal {
		width: 18.75rem;
		height: auto;
		max-height: 30rem;
		margin: 0.5rem 0 1rem;
		font-size: 0.75rem;
		border-radius: 0.675rem;
		border-color: var(--gray-200);
		box-shadow: 0 0.5rem 1.5rem rgba(149, 157, 165, 0.2);
		animation-name: dropdown-animation;
	}

	.content-details-menu-modal header {
		padding: 7px 7px 7px 1rem;
	}

	.content-details-menu-modal > div {
		position: relative;
		padding: 0;
		margin: 0 0 -1px;
		flex: auto;
		overflow-x: hidden;
		overflow-y: auto;
		background: var(--white);
	}

	.content-details-menu-modal header span {
		font-size: inherit;
	}

	.content-details-menu-modal header button {
		padding: 1rem;
		margin: -1rem;
		line-height: 1;
		color: #959da5;
		background-color: initial;
		border: 0;
	}

	.content-details-menu-item {
		padding-top: 7px;
		padding-bottom: 7px;
	}

	footer {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	footer > div:first-child {
		align-items: center;
	}
}

@media screen and (min-width: 768px) {
	header[role='banner'] {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		flex-wrap: nowrap;
	}

	.header-item {
		display: flex;
	}

	.header-item:nth-child(1),
	.header-create-new-container,
	.header-profile-container {
		display: flex;
	}

	.header-item:nth-child(2),
	.header-item:nth-child(4) {
		display: none;
	}

	.header-nav-container {
		display: flex;
		margin-right: 1rem;
		margin-top: 0;
		flex-direction: row;
		order: inherit;
	}

	.header-notifications {
		margin-right: 1rem;
		order: inherit;
	}

	.header-search {
		max-width: 17rem;
		margin-right: 1rem;
		margin-bottom: 0;
		align-self: auto;
	}

	.header-search:focus-within {
		max-width: 34rem;
	}

	.header-nav-container nav {
		align-self: auto;
		flex-direction: row;
	}

	.header-nav-container nav > .header-link:nth-child(1),
	.header-nav-container nav > .header-link:nth-child(6),
	.header-nav-container nav > .logout .header-link {
		display: none;
	}

	.header-nav-container nav .header-link {
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-top: 0;
	}

	.header-nav-container nav > .header-link:not(:first-child),
	.header-nav-container nav .header-link.flex-auto {
		margin-top: -1rem;
		margin-bottom: -1rem;
		margin-right: 1rem;
	}

	.header-search-wrapper:focus {
		border-color: var(--blue);
		outline: none;
		box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
	}

	.pull-request-request {
		display: none;
	}

	.page-tabs {
		display: block;
	}

	.page-tabs-container,
	.content {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.all-tabs-container,
	.content-container {
		flex-direction: row;
	}

	.all-tabs-container-item,
	.content-container-item {
		margin-bottom: 0;
	}

	.all-tabs-container-item:nth-child(1),
	.content-container-item:nth-child(1) {
		min-width: 25%;
		max-width: 25%;
	}

	.all-tabs-container-item:nth-child(2),
	.content-container-item:nth-child(2) {
		min-width: 75%;
		max-width: 75%;
	}

	.content-container-item:nth-child(1) > div {
		margin-top: -2rem;
	}

	.content-container-item:nth-child(1) > div > .user-status-container {
		display: none;
	}

	.content-container-item:nth-child(1) .sticky-user-profile {
		display: block;
	}

	.content-user-profile {
		display: block;
		margin-bottom: 0;
	}

	.content-avatar-container {
		margin-right: 0;
		width: 100%;
	}

	.content-user-name-container {
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.content-user-name-container h1 {
		padding-left: 0;
	}

	.content-user-profile-bio {
		font-size: 1rem;
	}

	.content-user-profile-meta div:first-child {
		order: inherit;
	}

	.content-user-edit-profile-preview[hidden='false'] {
		display: block;
	}

	.content-user-edit-profile-preview[hidden='true'] {
		display: none;
	}

	.content-user-edit-profile-preview .order-1 {
		margin-top: 0;
		order: inherit;
	}

	.content-user-profile-nav {
		display: none;
	}

	.content-user-action-bar > div {
		display: flex;
	}

	.content-user-action-bar > div > div:first-child {
		margin-bottom: 0;
		margin-right: 1rem;
	}

	.content-user-action-bar .content-details-menu {
		right: 0;
	}

	.content-repository-item > div:last-child {
		margin-right: 0;
	}
}

@media screen and (min-width: 1012px) {
	header[role='banner'] {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.pull-request-request {
		display: inline;
	}

	.page-tabs-container,
	.content {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.all-tabs-container,
	.content-container {
		margin-right: -1rem;
		margin-left: -1rem;
	}

	.all-tabs-container-item,
	.content-container-item {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.content-repository-item > div:first-child {
		width: 75%;
	}

	.content-repository-item > div:last-child {
		width: 25%;
	}

	footer {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	footer > div:first-child {
		justify-content: space-between;
		flex-wrap: nowrap;
		flex-direction: row;
	}

	footer > div:first-child a[aria-label='Homepage'] {
		display: block;
		margin-right: 1.5rem;
	}

	footer > div:first-child ul {
		justify-content: space-between;
		margin-bottom: 0;
	}

	footer ul > li {
		margin-right: 0;
	}
}
